In [26]:
number = 5
data = 15
list_data = []
list_index = []

In [27]:
for i in range(number):
            list_index.append(i)
            # list_date[i] = today()
            list_data.append(data)
            data = 17
            
            
print(list_data)

[15, 17, 17, 17, 17]

In [30]:
import pandas as pd

In [33]:
df_ds18b20_ar_desligado = pd.DataFrame.from_dict({'raw': [25.125, 25.0625, 25.0, 25.0625, 25.0625], 'index': [0, 1, 2, 3, 4]})
df_ds18b20_ar_ligado = pd.DataFrame.from_dict({'raw': [21.8125, 21.9375, 21.875, 21.875, 21.9375], 'index': [0, 1, 2, 3, 4]})

In [34]:
df_lm35_ar_desligado = pd.DataFrame.from_dict({'raw': [17.3, 17.4, 17.5, 16.3, 18.7], 'index': [0, 1, 2, 3, 4]})
df_lm35_ar_ligado = pd.DataFrame.from_dict({'raw': [13.4667, 13.4446, 13.4622, 13.4712, 13.4302], 'index': [0, 1, 2, 3, 4]})

In [36]:
df_ds18b20_ar_desligado.to_csv('df_ds18b20_ar_desligado.csv')
df_ds18b20_ar_ligado.to_csv('df_ds18b20_ar_ligado.csv')
df_lm35_ar_desligado.to_csv('df_lm35_ar_desligado.csv')
df_lm35_ar_ligado.to_csv('df_lm35_ar_ligado.csv')

In [35]:
df_ds18b20_ar_ligado

       raw  index
0  21.8125      0
1  21.9375      1
2  21.8750      2
3  21.8750      3
4  21.9375      4